<div>
    <div>
        <form action="">
            <label for="">Nombre</label>
            <input type="text" name="" id="">

            <label for="">Apellido</label>
            <input type="text" name="" id="">


            <label for="">Usuario</label>
            <input type="text" name="" id="">

            <label for="">Correo</label>
            <input type="text" name="" id="">

            <label for="">Contraseña</label>
            <input type="text" name="" id="">

            <label for="">Confirmar contraseña</label>
            <input type="text" name="" id="">

            <button>
                Registrarme
            </button>
        </form>

    </div>
</div>